.certificado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #006666;
	font-weight: normal;
}

.textobold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #006666;
	font-weight: bold;
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #003360;
	font-weight: bold;
	text-decoration:  none;
}

.subtitulo {
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     font-size: 8pt;
	     color: #000066;
	     font-weight: bold;
             background-color: #003360;
             text-decoration:  none;
}

.seccion {
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     font-size: 8pt;
	     color: #000066;
	     background-color: #003380;
}

.combo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal
}

.field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

.lineaimpar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #006666;
	font-weight: normal;
	background-color: #003450;
}

.lineapar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #006666;
	font-weight: normal;
	background-color: #ffffff;
}

.opcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:  none;
}

.grupoopcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: white;
	font-weight: bold;
	text-decoration:  none;
}
.subopcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: 99cc99;
	font-weight: normal;
	text-decoration:  none;
}


.celeste {
	background-color: #DFE4F8;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;	
}

.c12azul {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}

.blanco {
	background-color: #FFFFFF;
}
.c11azul {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}

.c11rojo {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: red;
	text-decoration: none;
}

.title12 {

	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009366;
	text-decoration: none;
}
.title13 {


	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #009366;
	text-decoration: none;
}
.celeste2 {

	background-color: #7392BD;
}
}
.title15 {
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #009366;
	text-decoration: none;
}

.c13az {

	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000066;
	text-decoration: none;
}
.boton {
	background-color: #EAEDF7;
	border: 1px solid #004682;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}
.data1 {
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.c11 {


	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.c12 {

	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.LetraNegraDiezNormalArial {

	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.tituloconsultas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #006666;
	font-weight: bold;
}

.botongrisOver {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-image: url(/AutoconsultaWeb/web/images/fondo_boton_gris2.jpg);
	color: #818181;
	height: 25px;
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #EAEAEA;
	float: right;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #D5D5D5;
}
.botongris {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-image: url(/AutoconsultaWeb/web/images/fondo_boton_gris.jpg);
	color: #2D2D2D;
	height: 25px;
	background-repeat: repeat-x;
	background-position: left top;
	float: right;
	background-color: #EAEAEA;
	border: 1px solid #D5D5D5;
	padding-right: 5px;
	padding-left: 5px;
}
