<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SimulacionCreditoReprogramacion</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!--  
	<filter>
		<display-name>SessionFilter</display-name>
		<filter-name>SessionFilter</filter-name>
		<filter-class>cl.laaraucana.simulacion.filters.SessionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	-->
	<servlet>
		<servlet-name>ExportPDF</servlet-name>
		<servlet-class>cl.laaraucana.simulacion.servlets.ExportPDF</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportJson</servlet-name>
		<servlet-class>cl.laaraucana.simulacion.servlets.ExportJson</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetImages</servlet-name>
		<servlet-class>cl.laaraucana.simulacion.servlets.GetImages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportPDF</servlet-name>
		<url-pattern>/ExportPDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportJson</servlet-name>
		<url-pattern>/ExportJson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImages</servlet-name>
		<url-pattern>/GetImages</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/initSimulacion.do</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>Protected Resources</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Resources</web-resource-name>
			<description></description>
			<url-pattern>/</url-pattern>
			<url-pattern>/simuladorReprogramacion.do</url-pattern>
			<url-pattern>/simuladorAcuerdosPago.do</url-pattern>
			<url-pattern>/initSimulacion.do</url-pattern>
			<url-pattern>/*.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>ValidUser</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Form-Based Authentication Area</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>ValidUser</role-name>
	</security-role>
	<listener>
        <listener-class>cl.laaraucana.simulacion.listener.InicializarParametros</listener-class>     
    </listener>
</web-app>
