BODY
{
    BACKGROUND-COLOR: #F0FCFF;
    COLOR: #333366;
    FONT-FAMILY: 'Arial, Helvetica, sans-serif'
}
H1
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H2
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H3
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H4
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H5
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H6
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
TH {
 color: #6060cc
}

.select {
	font-family:Arial;
	font-size:8pt;
}
