
table ,thead ,tbody{
width: 100%;
border-collapse: collapse;
border-spacing: 0px;
border: solid 1px;
border-color: gray;
color: #333333;
font-family: arial,helvetica,sans-serif;
}

caption{
	text-align: left;
font-weight: bold;

}
table tr{
border: solid 1px;
border-color: gray;
	
}


table th {
	text-align: center;
	background-color: #005D8B;
	color: white; 
    padding: 5px;

}

table td {
	text-align: center;
	background-color: white;
	border-color: #FEF7E7;
	height: 12px;
}