<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NRP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RequestServlet</servlet-name>
		<servlet-class>cl.liv.generic.request.servlet.RequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>RecuperarPasswordServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.RecuperarPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecuperarPasswordServlet</servlet-name>
		<url-pattern>/RecuperarPasswordServlet</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>PlanillasServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.PlanillasServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>PlanillasServlet</servlet-name>
		<url-pattern>/Planillas</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/Init</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CommandServlet</servlet-name>
		<servlet-class>cl.jfactory.planillas.web.CommandServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>CommandServlet</servlet-name>
		<url-pattern>/Command</url-pattern>
	</servlet-mapping>
	
	
</web-app>
