body {
	font-weight: normal;
	font-size: 12px;
	color: #333;
	font-family: arial, helvetica, sans-serif;
	/* font-family: 'Droid Sans', sans-serif; */
}

.form-fieldset h2{
	font-weight: 700;
	font-size: 17px;
	color: rgb(0, 93, 139);
	font-style: normal;
	font-family: Arial;
	text-decoration: none;
	padding-left: 5px;
}

hr {
	clear: both;
	height: 2px;
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border: none !important;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-image: url(../img/linea_puntos.gif);
}

.texto-centrado {
	text-align: center;
}
.texto-der{
	text-align: right;
}

.texto-izq{
	text-align: left;
}

/****************** Mensajes de error ************/
.error {
	color: red;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

.error2 {
	color: red;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

label.error {
	text-align: left;
}

input.error,select.error {
	color: #000000;
	text-align: left;
}

/*********** Inicio finiquito *********/

.bloque-explorer{
	text-align : center;
	width: 100%;
}

#inicioDeuda {
	width: 700px;
	margin: 0 auto;
	text-align: left;
}

#inicioDeuda .divCentrado {
	width: 460px;
	margin: 0 auto;
	text-align: left;
}

#inicioDeuda .titulo {
	text-align: center;
}

#inicioDeuda .field {
	height: 25px;
	clear: both;
}

#inicioDeuda .field label {
	float: left;
	width: 150px;
	padding-left: 0;
}

#inicioDeuda .field label.error {
	width: 200px;
	padding-left: 5px;
}

#inicioDeuda .espacio-med {
	margin-left: 113px;
}

#inicioDeuda input {
	float: left;
}

/*********** Detalle finiquito *********/

#detalleFiniquitoCont {
	width: 700px;
	margin: 0 auto;
	text-align: left;
}


#detalleFiniquitoCont .field {
	height: 25px;
	clear: both;
}

#detalleFiniquitoCont div.field label {
	float: left;
	width: 200px;
}
#detalleFiniquitoCont .ContBtnGenerarFiniquito{
	width: 95%;
	margin-top: 10px;
	float: left;
}
#detalleFiniquitoCont .ContBtnGenerarFiniquito input{
	float: right;
	margin-left: 10px;
}

#contenedorCreditos{
	width: 95%;
	margin: 0 auto;
}

#contenedorCreditos .tablaDetCredito {
	float: left;
	clear: both;
	width: 95%;
}

#contenedorCreditos .tablaDetCredito table {
	width: 100%;
}

#contenedorCreditos .tablaDetCredito table {
	border-collapse: collapse;
	border: 1px solid #CECECE;
	font-size: 13px;
}

#contenedorCreditos table th {
  background: none repeat scroll 0 0 #EAEAEA;
}

#contenedorCreditos .tablaDetCredito table td,.tablaDetCredito table th {
	border: 1px #CECECE solid;
	width: 170px;
	text-align: center;
}

#contenedorCreditos .tablaDetCredito table td.texto-der, .tablaDetCredito table th.texto-der{
	text-align: right;
}

#contenedorCreditos .tablaDetCredito table td.texto-izq, .tablaDetCredito table th.texto-izq{
	text-align: left;
}

#contenedorCreditos .ContBtnGenerarFiniquito{
	margin-top: 15px;
	float: right;
}

#tabla-creditos th{
	height: 20px;
}

#tabla-creditos th{
	min-width: 100px;
}

#tabla-creditos tr td.cabecera, tr th.cabecera{
	text-align: left;
	padding-left: 15px;
	min-width: 175px;
}
