<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>CambioTramoAsfamBatch</display-name>

	<listener>
		<listener-class>cl.araucana.ctasfam.batch.listener.InitAppListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>monitor</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MonitorServlet</servlet-name>
		<servlet-class>cl.araucana.ctasfam.batch.servlet.MonitorProcesamientoServlet</servlet-class>
	</servlet>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>ControlServlet</servlet-name> -->
<!-- 		<servlet-class>cl.araucana.ctasfam.batch.servlet.ControlProcesamientoServlet</servlet-class> -->
<!-- 	</servlet> -->
	
	<servlet-mapping>
		<servlet-name>MonitorServlet</servlet-name>
		<url-pattern>/monitor</url-pattern>
	</servlet-mapping>
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>ControlServlet</servlet-name> -->
<!-- 		<url-pattern>/control</url-pattern> -->
<!-- 	</servlet-mapping> -->
</web-app>