<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BotonPago</display-name>
	<context-param id="ContextParam_1196987151631">
		<description>Application name.</description>
		<param-name>name</param-name>
		<param-value>Boton de pago</param-value>
	</context-param>
	<context-param id="ContextParam_1196987151637">
		<description>Local HTTP redirector</description>
		<param-name>localRedirector</param-name>
  		<param-value>http://146.83.1.144:9080/BotonPago</param-value>
<!--   		<param-value>http://146.83.1.35:9080/BotonPago</param-value> -->
		<!-- <param-value>http://localhost:9082/BotonPago</param-value> -->
	</context-param>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cl.araucana.core.util.http.LoginFilter</filter-class>
		<init-param>
			<param-name>securityMode</param-name>
			<param-value>j2ee</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>dump</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>useRedirector</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>loginErrorPage</param-name>
			<param-value>/loginError.jsp</param-value>
		</init-param>
	</filter>
	<filter>
		<display-name>UcFilter</display-name>
		<filter-name>UcFilter</filter-name>
		<filter-class>cl.laaraucana.botonpago.web.filter.UcFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UcFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>cl.laaraucana.botonpago.web.filter.SessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>InicioFilter</filter-name>
		<filter-class>cl.laaraucana.botonpago.web.filter.InicioFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InicioFilter</filter-name>
		<url-pattern>/web/listaCuotas.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InicioFilter</filter-name>
		<url-pattern>/web/pagoEnCaja.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InicioFilter</filter-name>
		<url-pattern>/web/pagoEnLinea.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>config/web</param-name>
			<param-value>/WEB-INF/struts-config-web.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
		<security-role-ref>
			<description></description>
			<role-name>ValidUser</role-name>
			<role-link>ValidUser</role-link>
		</security-role-ref>
	</servlet>
	<servlet>
		<servlet-name>ExportPDF</servlet-name>
		<servlet-class>cl.laaraucana.botonpago.web.servlets.ExportPDF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportPDF</servlet-name>
		<url-pattern>/ExportPDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Router</display-name>
		<servlet-name>Router</servlet-name>
		<servlet-class>cl.araucana.core.util.http.Router</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Router</servlet-name>
		<url-pattern>/router.do</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/exception.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>web/welcome.do</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>Protected Resources</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Resources</web-resource-name>
			<description></description>
			<url-pattern>/</url-pattern>
			<url-pattern>/web/welcome.do</url-pattern>
			<url-pattern>/web/*</url-pattern>
			<url-pattern>/router.do</url-pattern>
			<url-pattern>/web/listaCreditos.do</url-pattern>
			<url-pattern>/web/listaCuotas.do</url-pattern>
			<!-- url-pattern>*.do</url-pattern -->
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>ValidUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description></description>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role id="SecurityRole_1381153818741">
		<role-name>ValidUser</role-name>
	</security-role>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Form-Based Authentication Area</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/loginError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<listener>
		<listener-class>cl.laaraucana.botonpago.web.listener.InicializarParametros</listener-class>
	</listener>
	<listener>
		<listener-class>cl.laaraucana.botonpago.web.listener.InicializaJobs</listener-class>
	</listener>
</web-app>