body{
	font-family:Verdana;
	background-color:#EEEEEE;
}

h1{
	font-size:25px;
	color:#888;
	margin-left:10px;
}

.red_border{

border:1px solid #FB8286;	
}

.hint{
  	font-size:11px;
	font-family: cursive ;
	color:#AAA;
	/*border:1px solid #FA5882;*/	
	border:1px solid #E29001;	
	/*background-color:#F89191;*/
	/*background-color:#F29001;*/
}

.titulo_campo{
	background-color: #005E99;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:12px;
	color:#FFFFFF;	
	width:180px;
	
}
.titulo_campo_check{
	background-color: #005E99;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:12px;
	color:#FFFFFF;	
	width:50px;
	
}
.titulo_campo_long{
	background-color: #005E99;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:12px;
	color:#FFFFFF;	
	width:250px;
	
}
.titulo_campo_login{
	background-image:url('../img/login/bg_gris60.png');
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:12px;
	color:#333333;	
	width:100px;
	border: 1px solid #CCCCCC;
	text-align:center;
}

.boton_login{
	cursor:pointer;
	background:#034a98;
	color:#fff !important;
	font-size:1.0em;
	padding:5px 30px;
	text-decoration:none;
	float:none;
}

.data_campo{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:250px;
	text-align:center;
}
.data_campo_ancho{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:450px;
	text-align:center;
}
.data_campo_left{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:250px;
	padding-left:50px;
}
.data_campo_short{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:150px;
	text-align:center;
}
.data_campo_check{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:50px;
	text-align:center;
}
.data_campo_login{
	background-color: #FFFFFF;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	color:#000000;	
	width:100px;
	text-align:center;
	border: 1px solid #CCCCCC;
}

.titulo_seccion{
	background-color: #EEEEEE;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	margin-top:20px
	font-size:15px;
	color:#999;	
}
.tabla_formulario {
	width:900px;
	background-color: #FDFAFA;
}
.tabla_formulario_login {
	width:300px;
	background-color: #FFFFFF;
}

.tabla_formulario td{

}
.tr_formulario{
	height:26px;
}
.tr_formulario_resultado{
	border: 2px solid #FFF;
	height:26px;
}
.tr_separador{
	height:15px;
}
.img_info{
	width:18px;
	margin-left:5px;
}

#informacion{
	background-color:#2EE30E;
	margin-left:auto;
	margin-right:auto;
	margin-top:-20px;
	padding-top:4px;
	padding-bottom:1px;
	height:30px;
	width:500px;
	text-align:center;
	font-size:13px;
	display:none;
	color:#FFF;
	border: 1px solid #CCC;
}
#informacion_error{
	background-color:#FA5858;
	margin-left:auto;
	margin-right:auto;
	margin-top:-20px;
	padding-top:4px;
	padding-bottom:1px;
	height:30px;
	width:500px;
	text-align:center;
	font-size:13px;
	display:none;
	color:#FFF;
	border: 1px solid #CCC;
}
#informacion_warning{
	background-color:#F3F781;
	margin-left:auto;
	margin-right:auto;
	margin-top:-20px;
	padding-top:4px;
	padding-bottom:1px;
	height:30px;
	width:500px;
	text-align:center;
	font-size:13px;
	display:none;
	color:#000;
	border: 1px solid #CCC;
}
#informacion_error_login{
	background-color:#FA5858;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding-top:4px;
	padding-bottom:1px;
	height:30px;
	width:500px;
	text-align:center;
	font-size:13px;
	display:none;
	color:#FFF;
	border: 1px solid #CCC;
}

#div_login{
	padding-top:40px;
}
#div_ingreso{
	padding-top:20px;

}


.container{
margin-top:2px;	
margin-bottom:auto;
margin-left:auto;
margin-right:auto;
width:1000px;
height:648px;
background-color:#FFFFFF;

border:1px solid #CCC;

}
	
#header {
margin-left:auto;
margin-right:auto;
margin-top:10px;
width:960px;
height:90px;
}

#bottom_header{
margin-left:auto;
margin-right:auto;
background-color:#5295C0;
width:960px;
height:10px;
}
#logo{
	background-image:url('../img/cabecera/logo_cabecera_home.png');
	background-repeat:no-repeat;
	width:260px;
	height:70px;
	margin-top:20px;
	margin-left:350px;
}

#nombreAPP{
	background-image:url('../img/nombreapp.png');
	background-repeat:no-repeat;
	position:absolute;
	width:277px;
	height:70px;
	left:800px;
	top: 30px;
}

.texto_info{
font-size:11px;
}

.salir{
font-size:11px;
color: #666
}

.texto_footer{
font-size:10px;
color:#AAA;
font-weight:bold;
}

#cargando{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#888;
	opacity:0.9;
	text-align:center;
	padding-top:100px;
	text-align:center;
}

#usuarios_approl{
	width:420px;
	height:290px;
	margin-left:275px;
	margin-top:10px;
	overflow:auto;
}

#cargando #imagen{
	background-size:100px 100px;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}
#texto_cargando{
	padding-top:50px;
	font-size:25px;
	color:#DDDDDD;
}

input{
border:1px solid #CCC;
padding:5px 20px;
font-family:verdana;
font-size:11px;

}

textarea{
border:1px solid #CCC;
font-family:verdana;
font-size:11px;

}
select{
border:1px solid #CCC;
font-family:verdana;
background-color:#FFF;
width:155px;
font-size:10px;
}

.select_grande{
border:1px solid #CCC;
font-family:verdana;
background-color:#FFF;
width:300px;
font-size:12px;
}

.select_pequeno{
border:1px solid #CCC;
font-family:verdana;
background-color:#FFF;
width:80px;
font-size:12px;
}

.texto_confirmacion{
font-size:14px;
text-align:center;
}
.hint_pequeno{
  	width:85px;
	font-family: cursive ;
	color:#AAA;
	/*border:1px solid #FB8286;	
	background-color:#FAE9ED;*/
	border:1px solid #E29001;
}

span{
	font-size:12px;
}

.mi_tab{
border:1px solid #CCC;
background-color:#FFFFFF;
text-align:center;
height:40px;
cursor:hand;
cursor:pointer;
font-size:12px;
}
.mi_tab:hover{
background-color:#EEEEEE;
text-align:center;
height:40px;
}

.mi_tab_selected{
background-color:#EEEEEE;
font-weight: bold;
}

.info_validacion{
position:absolute;
left:0px;
top:10px;
background-color:#FA5800;
color:#FFF;
font-size:11px;
padding-left:5px;
padding-right:5px;
border: 3px solid #FFF;
width:300px;
display:none;
}

.obligatorio{
padding-left:1px;
}

#codigo_telefono_fijo_admin{
width:30px;
}
#codigo_fax_admin{
width:30px;
}
#telefono_fijo_admin{
margin-left:6px;
width:100px;
}
#fax_admin{
margin-left:6px;
width:100px;
}

#codigo_telefono_fijo_casa_matriz{
width:30px;
}
#codigo_fax_casa_matriz{
width:30px;
}
#telefono_fijo_casa_matriz{
margin-left:6px;
width:100px;
}
#fax_casa_matriz{
margin-left:6px;
width:100px;
}



::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #555;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #555;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #555;
}


.imagen_boton{
cursor:hand;
cursor:pointer;
width:20px;
}

.ayuda{
background-color:#FFF;
border:1px solid #5295C0;
position:absolute;
left:0px;
top:0px;
display:none;
padding-left:10px;
padding:top:10px;
font-size:12px;
box-shadow: #CCC 12px 12px 12px;
overflow:auto;
}