<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
  <display-name>IntegradorLDAP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>cl.araucana.ldap.servlet.ActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>cl.araucana.ldap.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Salir</servlet-name>
		<servlet-class>cl.araucana.ldap.servlet.Salir</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Iniciar</servlet-name>
		<servlet-class>cl.araucana.ldap.servlet.Iniciar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VentanaServlet</servlet-name>
		<servlet-class>cl.araucana.ldap.servlet.VentanaServlet</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>LoadOnStartupServlet</servlet-name>
    <servlet-class>cl.araucana.ldap.jcrontab.InitJcrontab</servlet-class>
		<init-param>
			<param-name>props</param-name>
			<param-value>WEB-INF/jcrontab.properties</param-value>
		</init-param>
		<init-param>
			<param-name>crontab</param-name>
			<param-value>WEB-INF/crontab</param-value>
		</init-param>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/ActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Salir</servlet-name>
		<url-pattern>/Salir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Iniciar</servlet-name>
		<url-pattern>/Iniciar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VentanaServlet</servlet-name>
		<url-pattern>/VentanaServlet</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>403</error-code>
		<location>/login_error.jsp</location>
	</error-page>
	<security-constraint>
		<display-name>
		Security-IntegradorLDAP</display-name>
		<web-resource-collection>
			<web-resource-name>Security-JSP</web-resource-name>
			<url-pattern>/ldap.jsp</url-pattern>
			<url-pattern>/ActionServlet</url-pattern>
			<url-pattern>/Iniciar</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			users</description>
			<role-name>users</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>
		Usuarios Autenticados LDAP</description>
		<role-name>users</role-name>
	</security-role>
</web-app>