<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>/EA</display-name>
	<servlet>
		<servlet-name>ControladorServlet1</servlet-name>
		<servlet-class>com.araucana.controller.ControladorServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloseSession</servlet-name>
		<servlet-class>com.araucana.controller.CloseSessionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PeriodoCotizacion</servlet-name>
		<servlet-class>com.araucana.controller.PeriodoCotizacion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnificarNominas</servlet-name>
		<servlet-class>com.araucana.controller.UnificarArchivosNominas</servlet-class>
	</servlet>

	<!-- Para re-dirigir la ejecución al Servlet -->

	<servlet-mapping>
		<servlet-name>ControladorServlet1</servlet-name>
		<url-pattern>/ControladorServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseSession</servlet-name>
		<url-pattern>/CloseSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PeriodoCotizacion</servlet-name>
		<url-pattern>/PeriodoCotizacion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnificarNominas</servlet-name>
		<url-pattern>/UnificarNominas</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Fin re-dirigir la ejecucion al Servlet -->

	<!-- Integrar Login Filter -->

	<filter>
		<description>
		</description>

		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cl.araucana.core.util.http.LoginFilter</filter-class>

		<init-param>
			<param-name>securityMode</param-name>
			<param-value>j2ee</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>dump</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>useRedirector</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>loginErrorPage</param-name>
			<param-value>/login_error.jsp</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>ControladorServlet1</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- Seguridad -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>/ControladorServlet1</welcome-file>	
	</welcome-file-list>

	<security-constraint>
		<display-name>Security-Services</display-name>
		<web-resource-collection>
			<web-resource-name>ControladorServlet1</web-resource-name>
			<url-pattern>*.do</url-pattern>
			<url-pattern>/ControladorServlet1</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			users</description>
			<role-name>users</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>
		Usuarios Autenticados LDAP</description>
		<role-name>users</role-name>
	</security-role>	

	<!-- Fin Login Filter -->

</web-app>
