<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	PDFServiceWeb</display-name>
	<filter>
		<description>
		Asigna los objetos de sesion cuando el usuario esta autenticado</description>
		<display-name>
		ControlSessionFilter</display-name>
		<filter-name>ControlSessionFilter</filter-name>
		<filter-class>cl.araucana.pdfserviceweb.administrator.presentation.filters.ControlSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ControlSessionFilter</filter-name>
		<url-pattern>/ControlSessionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ControlSessionFilter</filter-name>
		<servlet-name>action</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<description>
		Controla el cierre de las bitacoras</description>
		<display-name>
		ccl.araucana.pdfserviceweb.administrator.presentation.listeners.LogManagerListener</display-name>
		<listener-class>cl.araucana.pdfserviceweb.administrator.presentation.listeners.LogManagerListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
		org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ServletLoader</display-name>
		<servlet-name>ServletLoader</servlet-name>
		<servlet-class>
		cl.araucana.pdfserviceweb.servlets.ServletLoader</servlet-class>
		<init-param>
			<description>
			Ruta calificada del archivo de propiedades de PDFServiceWeb</description>
			<param-name>file-properties</param-name>
			<param-value>/pdfserviceweb/properties/pdfserviceweb.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLoader</servlet-name>
		<url-pattern>/ServletLoader</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>


	</jsp-config>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-constraint>
		<display-name>
		PDFServiceWeb</display-name>
		<web-resource-collection>
			<web-resource-name>PDFServiceWeb</web-resource-name>
			<url-pattern>*.do</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>users</role-name>
	</security-role>

</web-app>
