<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>FormParametrosSimulacion</display-name>
	<servlet>
		<servlet-name>GrabarParametrosServlet</servlet-name>
		<servlet-class>cl.laaraucana.simulacion.servlet.GrabarParametrosServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ObtenerParametrosServlet</servlet-name>
		<servlet-class>cl.laaraucana.simulacion.servlet.ObtenerParametrosServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GrabarParametrosServlet</servlet-name>
		<url-pattern>/GrabarParametros</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ObtenerParametrosServlet</servlet-name>
		<url-pattern>/ObtenerParametros</url-pattern>
	</servlet-mapping>

</web-app>