<style type="text/css">

	.default {
	}

	.text {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: yellow;
	}

	.button {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: black;
	}

	.blackText {
		font-family: arial;
		font-size: 12px;
		font-style: normal;
		color: black;
	}

	.blackText14 {
		font-family: arial;
		font-size: 14px;
		font-style: normal;
		color: black;
	}

	.blackText16 {
		font-family: arial;
		font-size: 16px;
		font-style: normal;
		color: black;
		font-weight: bold;
	}

	.blueText {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: blue;
	}

	.blackTextP6 {
		font-family: arial;
		font-size: 16px;
		font-style: normal;
		color: black;
	}

	.blackTextP4 {
		font-family: arial;
		font-size: 14px;
		font-style: normal;
		color: black;
	}

	.blackTextP2 {
		font-family: arial;
		font-size: 12px;
		font-style: normal;
		color: black;
	}

	.blueText {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: blue;
	}

	.blueText2 {
		font-family: arial;
		font-size: 12px;
		font-style: normal;
		color: blue;
	}

	.blueTextP4 {
		font-family: arial;
		font-size: 14px;
		font-style: normal;
		color: blue;
	}

	.blueText5 {
		font-family: arial;
		font-size: 16px;
		font-style: normal;
		color: blue;
	}
	.redTextP4 {
		font-family: arial;
		font-size: 14px;
		font-style: normal;
		color: red;
	}

	.optionText {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: black;
	}

	.optionBlueText {
		font-family: arial;
		font-size: 10px;
		font-style: normal;
		color: blue;
	}

	.optionBlueTextP2 {
		font-family: arial;
		font-size: 12px;
		font-style: normal;
		color: blue;
	}

</style>
