<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	WSAtento</display-name>
	<servlet>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSCalidad</servlet-name>
		<servlet-class>
		cl.araucana.wsatento.integration.jaxrpc.ws.WSCalidad</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSCredito</servlet-name>
		<servlet-class>
		cl.araucana.wsatento.integration.jaxrpc.ws.WSCredito</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSLicencia</servlet-name>
		<servlet-class>
		cl.araucana.wsatento.integration.jaxrpc.ws.WSLicencia</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>RestAtentoApp</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>cl.araucana.wsrest.ws.RestAppConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSCalidad</servlet-name>
		<url-pattern>services/WSCalidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSCredito</servlet-name>
		<url-pattern>services/WSCredito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cl_araucana_wsatento_integration_jaxrpc_ws_WSLicencia</servlet-name>
		<url-pattern>services/WSLicencia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>RestAtentoApp</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
